@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/FrontEnd/Source/styles.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Marka dictionary</title>
</head>
<body>
    <script type="text/javascript" src="~/FrontEnd/Source/bundle.js"></script>
    <script>
            EntryPoint.runMarkaDictionary();
    </script>
</body>
</html>
