
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ABDFolderListIndex</title>
</head>
<body>
    <div> 
		<h1>INdex</h1>
    </div>
	<script type="text/javascript">

	</script>
</body>
</html>
