.ff_createnew{
    background-color:rgb(80, 80, 80);
    color:white;
    padding:4px;
    padding-left:14px;
    padding-right:14px;
    padding-bottom:7px;
    font-size:13px;
    border:none;
    outline:none;
    font-family: 'Segoe UI';

}
.ff_createnew:hover{
    background-color:rgb(4, 109, 4);
    /*
        rgb(5, 64, 190)
        rgb(4, 109, 4)
    */
}