@import "custom";
@import "~bootstrap/scss/bootstrap";

@import "~devextreme/dist/css/dx.common.css";
@import "~devextreme/dist/css/dx.light.compact.css";

html {
    font-size: 12px; 
}

body {

}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/login_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    #login-form {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35) !important;
    }
}