<!DOCTYPE html>

<html>
<head>

    <title>SmartQA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    @RenderSection("scripts", required: false)

</head>

<body>

    @RenderBody()

    <!-- <script src="~/dist/main.js" asp-append-version="true"></script> -->
    <script src="http://localhost:8080/dist/main.js" asp-append-version="true"></script>


</body>

</html>