<!DOCTYPE html>

<html>
    <head>
        <title>SmartQA</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
       
        <environment names="Staging,Production">                        
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/dist/main.css")" asp-append-version="true"/>
        </environment>

        <environment names="Development">
            <link rel="stylesheet" type="text/css" href="http://localhost:8080/dist/main.css" />            
        </environment>

    </head>

    <body>
    
        @RenderBody()

        <script>            
            var baseUrl = "@Url.Content("~/")";                       
        </script>

        <environment names="Staging,Production">            
            <script src="~/dist/main.js" asp-append-version="true"></script>
        </environment>
        
        <environment names="Development">
            <script src="http://localhost:8080/dist/main.js"></script>
        </environment>
 
    </body>

</html>