<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://RU300VM0034.tp.tpnet.intra:80/smartplant</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://RU300VM0034:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>RU300VM0034.tp.tpnet.intra/SmartPlant</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>TP\mgolyaviev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartQA1._1._2.DB.EntityFramework.Entities, SmartQA1.1.2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FileStorageEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartQA1._1._2.DB.EntityFramework.FileStorageEntities, SmartQA1.1.2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartQA1._1._2.DB.WebDb.WEB_MainDataEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartQA1._1._2.DB.WebDb.WEB_MainDataEntities, SmartQA1.1.2" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LogAuthSchema" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartQA1._1._2.DB.Logging.LogAuthSchema, SmartQA1.1.2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EFLoggingEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ru300vm0032;Initial Catalog=DEV_STL_MainData;Persist Security Info=True;User ID=WebServerUser;Password=ShareWare724;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFLoggingEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB.Logging.EFLogging.csdl|res://*/DB.Logging.EFLogging.ssdl|res://*/DB.Logging.EFLogging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ru300vm0032;initial catalog=DEV_STL_MainData;persist security info=True;user id=WebServerUser;password=ShareWare724;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DEV_WEB_MainDataEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartQA1._1._2.DB.PermissionDb.DEV_WEB_MainDataEntities, SmartQA1.1.2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEV_WEB_MainDataEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LogAuthSchema-Web.config Connection String" />
    <MSDeployParameterValue Include="EFLoggingEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FileStorageEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SmartQA1._1._2.DB.WebDb.WEB_MainDataEntities" />
  </ItemGroup>
</Project>